@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}
<br />
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4" >
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin-top:4px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Mantenha-me conectado(a)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-danger">Log in</button>
                </div>
                <div>
                    <p></p>
                    <p>
                        ou <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">crie uma conta aqui</a>
                    </p>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar e-mail de confirmação</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section class="card" style="padding:16px 18px 26px">
            <h3>Quem está no Mangut já sabe:</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div class="backcard" style="background:#f1f3ec;margin-left: 20% !important;">
                        <h2 style="position:relative;top:-12px">Não temos tarifas</h2>
                        <p>
                            Somos uma iniciativa para aproximar a compra direta com quem vende, logo, 100% do valor da venda vai para o bolso de quem realmente precisa.
                        </p>
                    </div>
                    <div class="backcard" style="background:#f1f3ec;margin-left: 20% !important;">
                        <h2 style="position:relative;top:-12px">Continue pelo WhatsApp</h2>
                        <p>
                            Não só o WhatsApp, mas além de vários outros canais, você continua e mantém contato pelo meio de comunicação que achar melhor. Não te restringimos à nossa plataforma.
                        </p>
                    </div>
                    <div class="backcard" style="background:#f1f3ec;margin-left: 20% !important;">
                        <h2 style="position:relative;top:-12px">Seu catálogo digital</h2>
                        <p>
                            Aumente a visibilidade de seus produtos, como vendedor(a), e quem compra também sabe que está apoiando a 
                        </p>
                    </div>
                        <br><br>
                        <h1 style="text-align:center">E então? O que está esperando?</h1>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary" style="color:#212529">Crie hoje mesmo a sua conta</a>

                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
