@model IEnumerable<Mangut.Models.Produto>

@{
    ViewData["Title"] = "Catálogo de Produtos";
}
<br />
<h1 class="text-danger">@ViewData["Title"]</h1> 
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdProduto">Detalhes</a> 
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdProduto">Editar</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdProduto">x</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>